<!DOCTYPE HTML>

<html>

<head>
    <title>Bluetooth Scan</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />


    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">Bienvenue sur Bluetooth Scan</a>
            <nav id="nav">
                <a href="index.html">Home</a>

            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    <h1>Bienvenue</h1>
    <button onclick="window.location.reload(false)">Scan</button>


    <div class="inner">
        <header>

            <h3>Dernier périphérique(s) scanné(s)</h3>
        </header>



    </div>


    <!-- One -->
    <section id="one">
        {% for d in devices %}
        <div id="device-{{ loop.index }}" class="inner">
            <header>
                <h2>Adresse MAC: {{ d.mac_address }}</h2>
            </header>
            <p> Nom: {{ d.name }}<br>RSSI: {{ d.rssi }}<br>Date du scan: {{ d.date_scan }}
            </p>
            {% endfor %}

        </div>
    </section>






    <!-- Scripts -->


</body>

</html>